  /*
   * Canvas Styles
   */
  .whiteboard{
    border: solid #ccc 8px;
    height: 100%;
  }
  
  .canvas_container{
    height: 100%;
    margin: 0px 5% 30px 5%;
  }

  .col{
    width: 20%;
    border: solid black 2px;
    float: left;
  }

  .col_inner{
    width: 100%;
    float: left;
  }

  .col_inner:first-child{
    border-bottom: solid black 4px;
  }

  .col_big{
    width: 50%;
    height: 100%;
    border: solid black 2px;
    float: left;
  }

  .canvas_footer{
    float: left;
    width: 100%;
    height: 30%;
  }

  .canvas_header{
    float: left;
    width: 100%;
    height: 70%;
  } 

  .long_col{
    height: 100%;
  }
  .medium_col{
    height: 60%;
  }
  .small_col{
    height: 40%;
  }

  .scrollable{
    overflow: auto;
  }

  .scrollable > h3 {
    margin-top: 3px;
    font-weight: bold;
  }

  .col_big > .sticky{
    width: 44%;
    float: left;
    margin-left: 4%;
  }
  
  @media screen and (max-width: 900px) {
      .col {
        width: 25%;
      }

      .canvas_container{
        height: 190%;
        margin: 0px 0% 0% 0%;
      }

      #col_5{
        height: 30%;
        width: 100%;
      }

      #col_5 > .sticky{
        width: 45%;
        float: left;
        margin-left: 3%;
      }

      .col_big > .sticky{
        width: 90%;
      }
      .long_col {
      height: 70%;
    }

    .canvas_header {
      height: 80%;
    }   
    .canvas_footer {
      height: 20%;
    }     
  } 

  @media screen and (max-width: 750px) {
      .col {
          width: 33.33%;
      }

      #col_5, #col_3, #col_1{
        height: 20%;
        width: 100%;
      }

     #col_1 > .sticky, #col_5 > .sticky, #col_3 > .sticky{
        width: 45%;
        float: left;
        margin-left: 3%;
      }

      #col_4, #col_2{
        height: 20%;
        width: 100%;
      }

      .col_inner{
        height: 100%;
        width: 50%;
      }

      .col_inner:first-child{
        border-bottom: solid black 0px;
        border-right: solid black 4px;
      }

    .canvas_container {
      height: 470%;
      margin: 0px 0% 0% 0%;
    }

    .canvas_header {
      height: 80.1%;
    }   
    .canvas_footer {
      height: 20%;
    }       
  } 

  @media screen and (max-width: 450px) {
      #col_5, #col_3, #col_1{
        height: 14.29%;
        width: 100%;
      }

      #col_1 > .sticky, #col_5 > .sticky, #col_3 > .sticky{
        width: 90%;
        float: left;
        margin-left: 3%;
      }      

      #col_4, #col_2{
        height: 28.57%;
        width: 100%;
      }    

      .col_inner{
        height: 50%;
        width: 100%;
      }

      .col_inner:first-child{
      border-bottom: solid black 4px;
      border-right: solid black 0px;
    }

    .canvas_container {
      height: 550%;
      margin: 0px 0% 0% 0%;
    }

    .canvas_header {
      height: 75.00%;
    }   
    .canvas_footer {
      height: 25.00%;
    }   

    .col_big{
      width: 100%;
      height: 50%;
    }
  }